@page
@model JamTeamFormingTool.Pages.TeamCreateModel

@{
    ViewData["Title"] = "Join session as team";
}
@(await Html.RenderComponentAsync<JamTeamFormingTool.Components.TeamFormingSession.SeekerJoinPageStatus>(RenderMode.ServerPrerendered, new
{
    PageStatus = Model.PageStatus
}))
@(await Html.RenderComponentAsync<JamTeamFormingTool.Components.TeamFormingSession.JoinSubmitModal>(RenderMode.ServerPrerendered, new
{
    HelpMsg = Model.HelpMsg,
    SubmitStatus = Model.SubmitStatus,
    SessionID = Model.Session.ID,
    SessionPassCode = Model.SessionPassCode,
    ShowTeamName = Model.AssignedName,
    TeamName = Model.Team?.Name
}))

<h1>Join team forming session: @Model.Session.Name</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Team.Name" class="control-label"></label><br />
                <small>If left blank, your team will be assigned a randomly-generated name.</small>
                <input asp-for="Team.Name" class="form-control" />
                <span asp-validation-for="Team.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.Handle" class="control-label"></label>
                @(await Html.RenderComponentAsync<JamTeamFormingTool.Components.MoreInfo>(RenderMode.ServerPrerendered, new {
                    cachedHelpMsg = "The contact for your team. E.g. Discord handle/ email/ etc."
                }))
                <input asp-for="Team.Handle" class="form-control" />
                <span asp-validation-for="Team.Handle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.Pitch" class="control-label"></label>
                @(await Html.RenderComponentAsync<JamTeamFormingTool.Components.MoreInfo>(RenderMode.ServerPrerendered, new
                {
                    cachedHelpMsg = "The general direction you plan to take the project."
                        + "\nThis can be as broad as it can be. Generally, you shouldn't have to be too specific before a game jam starts."
                }))<br />
                <small>Optional</small>
                <input asp-for="Team.Pitch" class="form-control" />
                <span asp-validation-for="Team.Pitch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.Region" class="control-label"></label>
                <select asp-for="TempRegion" class="form-control">
                    @for (int i = 0; i < Model.RegionMapKeys.Length; i++)
                    {
                        if (i == 0)
                        {
                            <option value="@Model.RegionMapKeys[i]" selected>@Model.RegionMapKeys[i]</option>
                        } else
                        {
                            <option value="@Model.RegionMapKeys[i]">@Model.RegionMapKeys[i]</option>
                        }
                    }
                </select>
                <span asp-validation-for="Team.Region" class="text-danger"></span>
            </div>
            <br />
            <div>
                <p>
                    <h5>Which roles are open for your team?</h5>
                </p>
                @for (int i = 0; i < Model.Roles.Length; i++)
                {
                    <p>
                        @if (Model.Roles[i].Description != null)
                        {
                            <input type="checkbox" asp-for="@Model.RoleCheckedStatuses[i]" class="form-check-input"> @Model.Roles[i].Name @(await Html.RenderComponentAsync<JamTeamFormingTool.Components.MoreInfo>(RenderMode.ServerPrerendered, new
                            {
                                cachedHelpMsg = Model.Roles[i].Description
                            }))
                        } else
                        {
                            <input type="checkbox" asp-for="@Model.RoleCheckedStatuses[i]" class="form-check-input"> @Model.Roles[i].Name
                        }
                    </p>
                }
            </div>
            <input type="hidden" asp-for="@Model.SessionPassCode" />
            <input type="hidden" asp-for="@Model.AssignedName" />
            <div class="form-group">
                <input type="submit" value="Join" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="TeamFormingSessionDetails" asp-route-id="@Model.Session.ID" asp-route-passcode="@Model.SessionPassCode">Back to Session</a>
</div>

<script src="_framework/blazor.server.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
